<div class="container form">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form [formGroup]="productForm" (ngSubmit)="submitProduct()">
          <div class="form-group">
            <div *ngIf="productForm.controls['name'].errors?.['required'] && productForm.controls['name'].touched" class="alert alert-danger">
              Product Name is Required
              </div>
            <label for="exampleInputEmail1" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" formControlName = "name">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>

   <div class="form-group">
<div *ngIf="productForm.controls['quantity'].errors?.['required'] && productForm.controls['quantity'].touched" class="alert alert-danger">
Quantity is Required
</div>
  <label for="exampleInputquantity1" class="form-label">quantity</label>
  <input type="quantity" class="form-control" id="exampleInputquantity1" formControlName="quantity">
   </div>



   <div class="form-group">
    <div *ngIf="productForm.controls['price'].errors?.['required'] && productForm.controls['price'].touched" class="alert alert-danger">
    Price is Required
    </div>
      <label for="exampleInputprice1" class="form-label">price</label>
      <input type="price" class="form-control" id="exampleInputprice1" formControlName="price">
       </div>

       <div class="form-group">
        <div *ngIf="productForm.controls['imageUrl'].errors?.['required'] && productForm.controls['imageUrl'].touched" class="alert alert-danger">
        ImageUrl is Required
        </div>
          <label for="exampleInputimageUrl1" class="form-label">imageUrl</label>
          <input type="imageUrl" class="form-control" id="exampleInputimageUrl1" formControlName="imageUrl">
           </div>


           <div class="form-floating">
            <textarea class="form-control" placeholder="Product Description" id="floatingTextarea2" style="height: 100px" formControlName="description">
            </textarea>
            <label for="floatingTextarea2">Description</label>
          </div>



          <div class="form-floating">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="categoryId">
              <option selected>Open this select menu</option>
              <option value="0">Electronic</option>
              <option value="1">Book</option>
              <option value="2">Computer</option>
              <option value="3">GraphicCard</option>
              <option value="4">Other</option>
            </select>
            <label for="floatingSelect">Works with selects</label>
          </div>


        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
