<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of Products;trackBy:track;let i =index">
      <div class="card w-50 product">
        <img [src]="product.imageUrl" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.name.substring(0,13)}}</h5>
          <p class="card-text product-description">{{product.description.substring(0,28)}}</p>
          <a routerLink="/deta/{{product.id}}">MoreInfo</a>
          <div>
<div class="cart-add">
  <a class="btn btn-primary" (click)="addToCart(product)">Add To Cart </a>
  <p class="price">{{product.price}}</p>
</div>


            <p>Owner:{{product.userName}}</p>
            <button class="btn btn-danger" (click)="onDelete(product.id)" *ngIf="product.userId == userId">Delete</button>
            <button class="btn btn-secondary" routerLink="/product/{{product.id}}" *ngIf="product.userId == userId">Edit</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
