<div class="container form">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div *ngIf="form.controls['Email'].errors?.['required'] && form.controls['Email'].touched" class="alert alert-danger">
              Email is Required
              </div>
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="text" class="form-control" id="exampleInputEmail1" formControlName = "Email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>


          <div class="form-group">
            <div *ngIf="form.controls['Username'].errors?.['required'] && form.controls['Username'].touched" class="alert alert-danger">
              Username is Required
              </div>
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleInputEmail1" formControlName = "Username">
           </div>

          <div class="form-group">
            <div *ngIf="form.controls['Phone'].errors?.['required'] && form.controls['Phone'].touched" class="alert alert-danger">
              Phone is Required
              </div>
            <label for="exampleInputEmail1" class="form-label">Phone</label>
            <input type="text" class="form-control" id="exampleInputEmail1" formControlName = "Phone">
           </div>



   <div class="form-group">
<div *ngIf="form.controls['Password'].errors?.['required'] && form.controls['Password'].touched" class="alert alert-danger">
Password is Required
</div>
<div *ngIf="form.controls['Password'].errors?.['pattern'] &&form.controls['Password'].touched" class="alert alert-danger">
Password must be at least 6 characters and

contain at least one non alphanumeric character,
contain at least one digit,
contain at least one uppercase

</div>
  <label for="exampleInputPassword1" class="form-label">Password</label>
  <input type="password" class="form-control" id="exampleInputPassword1" formControlName="Password">
   </div>

        <div class="formGroup">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
