/* You can add global styles to this file, and also import other style files */
.cart {
  top: 0.5em;
  position: relative;
}
.cart-length {
  background-color: #418deb;
  color: #fff;
  border-radius: 30%;
  position: relative;
  bottom: 1em;
  right: 1em;
  width: 10px;
  height: 30px;
  font-size: 1rem;
}

.cart a {
  text-decoration: none;
}
